.gallery {
  margin: 0 auto;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  gap: 16px;
  padding: 0 53px 0 53px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0px;
  }
}

@media screen and (max-width: 544px) {
  .gallery__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    padding: 0px;
  }
}
