.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 255px;
  height: 69px;
  padding-top: 34px;
  margin: auto;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  margin-top: 91px;
  width: 720px;
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 1.4;
  text-align: center;
}
.header__subtitle {
  margin-top: 32px;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 720px;
}
.header__image-container {
  max-width: 984px;
}

.header__image {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-top: 30px;
  }

  .header__title {
    font-size: 75px;
    max-width: 530px;
  }

  .header__subtitle {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    padding-top: 30px;
  }

  .header__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin-top: 50px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
