.page {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 768px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .page {
    width: 100%;
    padding: 0 16px 0 16px;
  }
}
