.page {
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 768px;
    padding: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 320px;
    padding: 16px;
  }
}
