.places {
  box-sizing: border-box;
  padding: 90px 145px;
}

.places__content {
  display: grid;
  box-sizing: border-box;
  max-width: 984px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 48px 40px;
}

.places__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  align-self: flex-end;
}

.places__container-image {
  width: 460px;
  height: 460px;
  grid-column: 1;
  grid-row: 2;
}

.places__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places__link {
  padding: 13px 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  color: #fff;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  grid-column: 1;
  grid-row: 3;
  align-self: flex-start;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
}

.places__artist-info {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

.places__artista-title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaa;
  margin: 0 0 8px 0;
  display: block;
}

.places__artistas {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

.places__artistas:first-of-type {
  margin-top: 8px;
}

.places__link:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__description {
  grid-column: 2;
  grid-row: 2 / span 2; /* Ocupa 2 filas */
}

.places__paragraph {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0 0 25px 0;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    margin-top: 88px;
    padding: 0;
  }

  .places__content {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto auto 1fr;
    margin-bottom: 72px;
    gap: 48px 28px;
  }

  .places__title {
    font-size: 42px;
    line-height: 46px;
  }

  .places__container-image {
    width: 340px;
    height: 340px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    margin-top: 62px;
    padding: 0px;
  }

  .places__content {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .places__title,
  .places__container-image,
  .places__link,
  .places__artist-info,
  .places__description {
    grid-column: 1;
    grid-row: auto;
  }

  .places__container-image {
    width: 100%;
  }
}
